<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitación existente</title>
    <link rel="stylesheet" text="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="text-center">
        <img class="mt-4 mb-4" th:src="@{/images/warning.png}" width="250" alt="warning"></img>
        <h3 class="mb-5">¡Ups! Una habitación con ese número ya existe</h3>
        <a th:href="@{/habitaciones}" class="btn btn-primary">Aceptar</a>
    </div>
</body>
</html>